// Set up some initial definitions
defs
	filter(id="bwBlur")
		feGaussianBlur(in="SourceGraphic", stdDeviation="0.5")
		feColorMatrix(type="saturate", values="0")

// Set the background color by drawing a rectangle to cover the entire canvas.  Note: after adding the inset, this will become more of a border.
rect(x=0, y=0, width=180, height=252, fill=color)

// Set inset background color to white.  Leave 9pt (1/8 in) border margin.
// This uses imageFill, a convenience mixin to embed an image fit-to-fill the specified dimensions.  The arguments for the mixin are the image object, x, y, width, and height.  Additional attributes will be passed into the image object.
+imageFill(assets.paper_texture.image, 9, 9, 162, 234)

// Create a simple text element for the title.  Position it near the top of the card, and center the text.  Note: For better portability, the text is rendered as paths.
+text(title)(align="center", font-family="title", font-size=17, x=90, y=28)

// Another instance of the imageFill mixin.
+imageFill(image, 9, 35, 162, 110)(filter="url(#bwBlur)")

// Lay a transparent rectangle over the image to give it a tint.
rect(x=9, y=35, width=162, height=110, fill=color, fill-opacity="0.2")

+textWrap(body)(font-family="body", font-size=11, x=12, y=160, width=156)
