name: Node.js CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Install
      run: npm ci
    - name: Test
      run: npm test
      env:
        CI: true
        # https://stackoverflow.com/questions/73004195/phantomjs-wont-install-autoconfiguration-error
        OPENSSL_CONF: /dev/null
    - name: Lint
      run: npm run lint
    - name: CLI Sanity Check
      run: |
        npm start -- -i demo.ccsb -o demo.svg --title "Cash Out"
        diff demo.svg test/cases/cash.svg
        rm demo.svg
