name: Node.js CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 24.x
    - name: Install
      run: |
        npm ci --omit=optional
        npm install --no-package-lock --no-save --omit=optional skia-canvas@3
    - name: Test
      run: npm test
    - name: Lint
      run: npm run lint
    - name: CLI Sanity Check
      run: |
        npm start -- -i demo.ccsb -o demo.svg --title "Cash Out"
        diff demo.svg test/cases/cash.svg
        rm demo.svg
