name: Publish Release
on:
  push:
    branches:
      - master
permissions:
  id-token: write  # Required for OIDC
  contents: read
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
          registry-url: "https://registry.npmjs.org"
      - run: |
          npm ci
          npm uninstall --no-save svg-to-png
      - run: npm test
        env:
          CI: true
      - run: npm publish
      - if: steps.publish.outputs.type != 'none'
        name: Create GitHub Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: "v${{ steps.publish.outputs.version }}"
          release_name: Release ${{ steps.publish.outputs.version }}
          draft: true
          prerelease: false
